*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $main-color-dark;
  font-size: $basic-font;
  width: 100%;
  overflow-x: hidden;
  color: $main-color-light;
}

section {
  margin: $section-margin;
}

.container {
  width: 90%;
}