.slider {
  position: relative;
  max-height: 70dvh !important;
  overflow-anchor: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    visibility: hidden;
  }
}

.before-view {
  height: 300px;
}

.slider > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
