.about {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5em;
  opacity: 0;
  translate: 50% 0;
  scroll-margin-top: 30px;

  &.shown {
    animation: fadeUp 0.7s ease-out forwards;
  }

  &__half {
    flex: 1;
    @include m.media(md) {
      &:nth-child(1) {
        flex: 1;
        aspect-ratio: 1/0.7;
        padding: $gap-medium;
        @include m.background(
          (
            radial-gradient(
              rgba($main-color-dark, 0.267) 10%,
              $main-color-dark 78%
            ),
            url('@/assets/img/author.webp')
          )
        );
        background-position: center;
      }

      &:nth-child(2) {
        display: none;
      }
    }
  }
}

.photo {
  position: relative;
  max-width: 100%;

  img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 20;
    box-shadow: 0 0 1px 8px rgba($main-color-dark, 0.267) inset;
    background-image: radial-gradient(
      rgba($main-color-dark, 0.267) 10%,
      $main-color-dark 78%
    );
  }
}
