.header {
  position: relative;
  width: 100%;
  &__background {
    @extend .u-full;
    @include m.background(
      (
        linear-gradient(to bottom, #00000060 10%, $main-color-dark),
        url('@/assets/img/header-lg.png')
      )
    );
    position: absolute;
    background-position: top;
    scale: 1.1;
  }
  &__title {
    @extend .u-full;
    display: flex;
    justify-content: right;
    align-items: center;
  }
}
