.h1,
.h2,
.h3 {
  font-family: $heading-font-family;
}

.h1 {
  font-weight: 700;
}

.h1 {
  font-size: $main-heading-font;
  @include m.media(sm) {
    font-size: $main-heading-font-sm;
  }
}

.h2 {
  font-size: $secondary-heading-font;
  margin-bottom: $gap-small;
}

.h3 {
  font-weight: 500;
  font-size: $tertiary-heading-font;
}
