*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-snap-type: y mandatory;
}

header,
footer,
section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

body {
  background-color: $main-color-dark;
  font-size: $basic-font;
  width: 100%;
  overflow-x: hidden;
  color: $main-color-light;
}

section {
  margin: $section-margin;
  scroll-snap-align: start;
}

.container {
  width: 90%;
}

.grid {
  display: grid;
  grid-template-columns:
    [full-start] minmax(1rem, 1fr)
    [content-start]
    min(100% - 3rem, 70rem)
    [content-end]
    minmax(1rem, 1fr) [full-end];
}

.grid > .grid-content {
  grid-column: content;
}

ul {
  list-style: none;
}
