$main-heading-font: 5rem;
$main-subheading-font: 2.6rem;

$basic-font: 2rem;
$secondary-heading-font: 3.6rem;
$tertiary-heading-font: 2.6rem;
$medium-font: 2rem;
$small-font: 1.2rem;

$gap-small: 1.5em;
$gap-medium: 3em;
$gap-large: 6em;

$section-margin: 6em auto;

$main-color-light: #fff;
$main-color-dark: #1a1a1a;

$slope-end-polygon: polygon(50% 0%, 100% 100%, 80% 100%, 18% 100%, 0 0);
$slope-start-polygon: polygon(25% 0%, 100% 0%, 70% 100%, 0% 100%);
